
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/header', header: "Check out what our users have to say!" %>
      <h4>(Just click on the user's name...) 
    </div>
  </div>
  <hl>
    <div class="well well-sm col-md-6 col-md-offset-3">
      <% @users.each do |user| %>
	<div class="media">
	  <div class="media-left">
	    <img class="media-object" src="snowflake.png" alt="icon_pic">
	  </div>
	  <div class="media-body">
	    <h2 class="media-heading"><%= link_to user.username, user_path(user.username) %></h2>
	    <span class="tagline">My fun tagline/description goes here!</span>
	    <br>
	  </div>
	</div>
      <% end %>
    </div>
</div>
